@import "../colors";

.box-icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 4.5rem;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.712);
    padding: .5rem;
    gap: .3rem;
    cursor: pointer;
    background-color: $primary-color;

    &:hover {
        border: 1px solid black;

    }
}

.complete {}