$primary-color: #100b54; // Main blue color for navbar and accents
$primary-color-light: #242061; // Main blue color for navbar and accents

$accent-color: #fbd704;
$accent-color-dark: #fac803;
$offwhite-color: #f8f9fa; // Off-white background color

// Accent Colors
$success-color: #28a745; // Success green color
$warning-color: #ffc107; // Warning yellow color
$danger-color: #c01627; // Danger red color

// Text Colors
$text-color: #333; // Main text color for body text
$heading-color: #444;