@import "./colors";

nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    height: 8%;
    gap: 2rem;
    background-color: $primary-color;
    color: white;
    padding: 0rem 2rem;
    z-index: 2;


    h3 {}

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: white;
    }

    .active {
        text-decoration: underline;
    }
}