@import "../colors";

.blobs-container {
    line-height: 0;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: none;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .blob {
        width: 200px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        place-items: center;
        background-color: $primary-color;
        border-radius: 8px;
        text-align: center;
        color: #ddd;
        font-family: sans-serif;
        font-size: 1rem;
        padding: 12px;
        cursor: pointer;

        &:hover {
            color: $accent-color;
        }

    }

    .name {
        font-size: 1.5rem;
    }
}