@import "../colors";

.item-card {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    padding: 5px 15px;
    margin: 1rem .5rem;

    .photo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }
    }

    .info,
    .quantity {
        display: flex;
        place-items: center;
        gap: 1rem;
    }


}