@import "../colors";

.items-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 6px;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;

    }

    tr {
        cursor: pointer;

        &:nth-child(even) {
            background-color: #f2f2f2;

        }

        &:hover {
            background-color: #ddd;
        }

        td {
            text-wrap: nowrap;
        }
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $primary-color;
        color: white;
    }
}

.photo-field {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 30px;
        height: auto;
    }
}