@import"../colors";

.order-forms-container {
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    overflow-y: scroll;
    place-items: center;
    scrollbar-color: $primary-color #f8f9fa;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    /* Adjust height as needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    animation: slideInFromTop .3s ease-out;


    .order-form {
        margin: 2rem;

        .new-order-form-section-container {
            display: flex;
            gap: .5rem;
            justify-content: start;
            align-items: top;
            margin: 0 0 1rem 0;

            section {

                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: $accent-color;
                border-radius: 8px;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                padding: 0 2rem 2rem 2rem;

                label {}
            }
        }




    }

    .items-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        justify-content: baseline;
        background-color: $accent-color;
        color: $primary-color;
        border-radius: 8px;
        margin: 1rem;
        padding: 1rem;

        .items-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            label {
                display: flex;
                flex-direction: column;
            }

            .item-add-btn {
                background: none;
                border: none;
                color: blue;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.close-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 20px;

}

@keyframes slideInFromTop {
    from {
        top: -100%;
    }

    to {
        top: 50%;
    }
}