.order-display {
    height: 40vh;
    padding-top: 6rem;

    .customer-info-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .address-container {}
    }

    .items-container {}
}

.order-forms-container {
    position: relative;
    z-index: 2;
}